<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <img class="image w-100" src="https://images.unsplash.com/photo-1507484467459-0c01be16726e?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="img-1">
        </div>
        <div class="col-lg-6">
            <h2 class="heading">Raddish</h2>
            <h3>$50.00 Incl. Tax</h3>
            <h3 class="strike">$75.00</h3>
            <p class="paragraph">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <button class="btn btn-primary">Add To Cart</button>
        </div>
    </div>
</div>