<h4>New Booking</h4>
<div class="mb">
    <button mat-button color="primary" class="mr">Save</button>
    <button mat-button color="accent">Cancel</button>
    <button mat-button color="warn">Delete</button>
</div>

<div class="mb">
    <button mat-raised-button color="primary" class="mr">Primary</button>
    <button mat-raised-button color="accent" class="mr">Accent</button>
    <button mat-raised-button color="warn" class="mr">Warn</button>
</div>

<div class="mb">
    <button mat-flat-button color="primary" class="mr">Primary</button>
    <button mat-flat-button color="accent" class="mr">Accent</button>
    <button mat-flat-button color="warn" class="mr">Warn</button>
</div>

<div class="mb">
    <button mat-stroked-button color="primary" class="mr">Primary</button>
    <button mat-stroked-button color="accent" class="mr">Accent</button>
    <button mat-stroked-button color="warn" class="mr">Warn</button>
</div>

<div class="mb">
    <button mat-raised-button color="primary" class="mr" disableRipple>Primary</button>
    <button mat-flat-button color="accent" class="mr" disableRipple>Accent</button>
    <button mat-stroked-button color="warn" class="mr" disableRipple>Warn</button>
</div>
<!-- Icon button -->
<div class="mb">
    <button mat-icon-button color="primary" class="mr">
        <mat-icon>save</mat-icon>
    </button>
    <button mat-icon-button color="accent" class="mr">
        <mat-icon>cancel</mat-icon>
    </button>
    <button mat-icon-button color="warn" class="mr">
        <mat-icon>delete</mat-icon>
    </button>
</div>


<!-- Icon button -->
<div class="mb">
    <button mat-fab color="primary" class="mr">
        <mat-icon>save</mat-icon>
    </button>
    <button mat-fab color="accent" class="mr">
        <mat-icon>cancel</mat-icon>
    </button>
    <button mat-fab color="warn" class="mr">
        <mat-icon>delete</mat-icon>
    </button>
</div>

<!-- Icon button -->
<div class="mb">
    <button mat-mini-fab color="primary" class="mr">
        <mat-icon>save</mat-icon>
    </button>
    <button mat-mini-fab color="accent" class="mr">
        <mat-icon>cancel</mat-icon>
    </button>
    <button mat-mini-fab color="warn" class="mr">
        <mat-icon>delete</mat-icon>
    </button>
</div>



