<div class="container-fluid">
<ng-container *ngIf="currentStep==1">
  <h2>Basic Details</h2>
  <div class="row form-groups">
    <div class="col-md-3">
      <label class="form-label" for="fname">First Name</label>
      <input type="text" class="form-control" name="fname" id="fname" placeholder="Enter your first name">
    </div>
    <div class="col-md-3">
      <label for="lname">Last Name</label>
      <input type="text" class="form-control" name="lname" id="lname" placeholder="Enter your last name">
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-3">
      <label class="form-label" for="email">Email</label>
      <input type="email" class="form-control" name="email" id="email" placeholder="Enter your email address">
    </div>
    <div class="col-md-3">
      <label for="phone">Phone</label>
      <input type="text" class="form-control" name="phone" id="phone" placeholder="Enter your phone number">
    </div>
  </div>
  <div class="row">
    <button class="btn btn-primary ml-3" (click)="gotoNextStep(currentStep)">next</button>
  </div>
</ng-container>

<ng-container *ngIf="currentStep==2">
  <h2>Address Details</h2>
  <div class="row form-groups">
    <div class="col-md-3">
      <label for="address">House No.</label>
      <input type="text" class="form-control" name="address" id="address" placeholder="Enter your address">
    </div>
    <div class="col-md-3">
      <label for="city">City</label>
      <input type="text" class="form-control" name="city" id="city" placeholder="Enter your city">
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-3">
      <label for="state">State</label>
      <input type="email" class="form-control" name="state" id="state" placeholder="Enter your state">
    </div>
    <div class="col-md-3">
      <label for="country">Country</label>
      <input type="text" class="form-control" name="country" id="country" placeholder="Enter your country">
    </div>
  </div>
  <div class="row">
    <button class="btn btn-secondary ml-3" (click)="backToPrevious(currentStep)">prev</button>
    <button class="btn btn-primary ml-2" (click)="gotoNextStep(currentStep)">next</button>
  </div>
</ng-container>

<ng-container *ngIf="currentStep==3">
  <h2>Company Detail</h2>
  <div class="row form-groups">
    <div class="col-md-3">
      <label for="companyName">Company Name</label>
      <input type="text" class="form-control" name="companyName" id="companyName" placeholder="Enter your company name">
    </div>
    <div class="col-md-3">
      <label for="owner">Owner</label>
      <input type="text" class="form-control" name="owner" id="owner" placeholder="Enter your owner">
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-3">
      <label for="email">License no.</label>
      <input type="text" class="form-control" name="email" id="email" placeholder="Enter your license no">
    </div>
    <div class="col-md-3">
      <label for="phone">Phone</label>
      <input type="tel" class="form-control" name="phone" id="phone" placeholder="Enter your phone number">
    </div>
  </div>
  <div class="row">
    <button class="btn btn-secondary ml-3" (click)="backToPrevious(currentStep)">prev</button>
    <button class="btn btn-primary ml-2" (click)="gotoNextStep(currentStep)">next</button>
  </div>
</ng-container>
</div>